@import "tailwindcss";

:root {
  --color-charcoal: #1c1c1c;
  --color-burgundy: #7b2d26;
  --color-gold: #cba135;
  --color-ivory: #413131;
  --color-ash: #a8a8a8;
  --color-wine: #a42e2b;
  --color-smoky: #121212;
  --color-trans: #00000065;
}

@theme {
  --color-charcoal: #1c1c1c;
  --color-burgundy: #7b2d26;
  --color-gold: #cba135;
  --color-ivory: #f5f5f5;
  --color-ash: #a8a8a8;
  --color-wine: #a42e2b;
  --color-smoky: #121212;
  --color-trans: #00000065;
}

body {
  background: var(--color-smoky);
  color: var(--color-1c1c1c);
  font-family: Arial, Helvetica, sans-serif;
}
